.app{
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.main-view{
  display: flex;
  justify-content: center; 
  width: 85%;
  max-width: 550px;

  &__sidebar{
    display: flex;
    margin-right:1.3rem;

    &-list{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 130px;
      margin-top: 2.31rem;

      @media screen and (max-width: 34.063rem) {
        margin-top: 4.62rem;
      }
    }

    &-item{
      list-style-type: None; 
      font-size: 1rem;
      // margin-top:1rem;
      text-align: right;
      line-height: 1.6rem;
      text-decoration: underline;

      &:hover{
        cursor: pointer;
        color: #0072B8;
      }

    }
  }

  &__content{
    width: 400px;

    &-title{
      font-weight: normal;
    }

    &-main{
      line-height: 1.6rem;
      font-size: 1rem;
      margin-top: 0rem;
      width: 100% ;
    }

    &-uiuc{
      height: 1.2rem;
      vertical-align: middle;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      margin-bottom: 0.1rem;
      cursor: pointer;
    }

    &-uoft{
      height: 1.6rem;
      vertical-align: middle;
      margin-left: 0.1rem;
      margin-right: 0.2rem;
      margin-bottom: 0.3rem;
      cursor: pointer;
    }
  }

}



